.recipe-main-page{
    background: rgb(243, 229, 215);
    align-items: center;
    display: flex;
    justify-content: center;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    width:800px;
    background-color: white;
    border-radius: 15px;
    gap: 30px;
    margin: 60px 0 60px 0;
}

h2{
    color: #854532;
}

.omelette{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 40px 0 40px;
}

.omelette-image{
    width: 100%;
    border-radius: 10px;
}

.recipe-title-description{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 40px 0 40px;
}

.preparation-time{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgb(255, 244, 249);
    border-radius: 10px;
    padding: 30px;
    margin: 0 40px 0 40px;
}

.preparation-time h3{
    color: #7B274E;
}

.preparation-time ul{
    margin-left: 20px;
}

.preparation-time ul li{
    padding-bottom: 10px;
    padding-left: 20px;
}

.preparation-time ul li::marker{
    color: #7B274E;
}

.ingredients-omelette{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 40px 0 40px;
}

.ingredients-omelette ul{
    margin-left: 20px;
}

.ingredients-omelette ul li{
    padding-bottom: 10px;
    padding-left: 20px;
}

.ingredients-omelette ul li::marker{
    color: #854532;
}

.horizontal-separation{
    align-items: center;
    width: 90%;
    height: 1px;
    background-color: gray;
    margin: 0 40px 0 40px;
}

.instructions-omelette{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 40px 0 40px;
}

.instructions-omelette ol{
    margin-left: 20px;
}

.instructions-omelette ol li{
    padding-bottom: 10px;
    padding-left: 20px;
}

.instructions-omelette ol li::marker{
    color: #854532;
}

.nutrition-omelette{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 40px 40px 40px;
}

.nutrition-omelette table{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nutrition-omelette table tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nutrition-omelette table tr th{
    color: #854532;
}