@import url('https://fonts.googleapis.com/css2?family=Young+Serif:wght@400&family=Outfit:wght@400;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
}

/* Aplicar la fuente 'Young Serif' a elementos específicos */
h1, h2, h3 {
  font-family: 'Young Serif', serif;
}

/* Aplicar diferentes pesos de la fuente 'Outfit' */
p {
  font-family: 'Outfit', sans-serif;
  font-weight: 400; /* Peso normal */
}

strong {
  font-family: 'Outfit', sans-serif;
  font-weight: 700; /* Peso en negrita */
}

